@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  /* font-family */
  --main-ff: Inter, sans-serif, -apple-system, BlinkMacSystemFont,
    "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";

  /* colors */
  --cart-bg-color: #f3f1ee;
  --body-bg-color: #efefe7;
  --btn-bg-color: #000000;
  --btn-second-bg-color: #50eda1;
  --paypal-bg-color: #ffd403;
  --twitter-bg-color: #01aced;
  --facebook-bg-color: #3b5794;
  --gs-red: #8f0421;
  --gs-yellow: #fdac18;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-ff);
}

/* ---------------------------------- */
/*               NAVBAR               */
/* ---------------------------------- */

.nav {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 1px 8px black;
}

.nav .left {
  text-decoration: none;
  font-size: 0.8rem;
}

.nav .left:hover {
  color: var(--gs-yellow) !important;
  transition-duration: 0.3s;
}

.header .gs-logo,
.header .gs-store {
  height: 100px;
}

.right .gs-user {
  height: 55px;
  margin-top: 15px;
  width: 100%;
}

/* ---------------------------------- */
/*                MAIN                */
/* ---------------------------------- */

.offer {
  color: var(--gs-yellow);
  background-color: var(--gs-red);
  text-align: center;
  font-size: 1rem;
  padding: 0.2rem 0 0.2rem 3rem;
  margin-top: 1rem;
}

.main {
  display: flex;
  justify-content: space-between;
}

/* Stil input kutusu ve simgesi için */
.input-with-icon {
  position: relative;
  width: 300px; /* Input kutusunun genişliği */
}
.input-with-icon input {
  padding-left: 30px; /* Simge için boşluk bırak */
  width: 100%;
}
.input-icon {
  position: absolute;
  left: 10px; /* Simgenin soldan mesafesi */
  top: 50%;
  transform: translateY(-50%);
}

.opacity {
  opacity: 0.6;
}

.checkout {
  background-color: var(--body-bg-color);
  padding: 2rem 1rem 1rem 0;
  border-radius: 10px;
  margin-left: 1rem;
}

.checkout .item {
  margin-bottom: 1rem;
}

.checkout img {
  height: 220px;
  width: 200px;
  border-radius: 10px;
}

.checkout .item-info {
  margin-left: 1rem;
}

.checkout .prices #price {
  color: var(--gs-yellow) !important;
}

.item-count {
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-count .minus,
.item-count .plus {
  background-color: lightgray;
  padding: 0 0.5rem;
  border-radius: 5px;
}

.item-remove i:hover {
  opacity: 0.7;
  cursor: pointer;
}

.summary {
  padding-left: 2rem;
}

.summary p {
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.summary .total {
  font-size: larger;
  font-weight: bolder;
}
